# <span style="color:darkblue"> Lecture 16 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review of Diagnostic Commands </span>

<font size = "5">

More details ...

https://www.w3schools.com/python/pandas/pandas_cleaning.asp

In [17]:
# (a) Count number of observations
n_total   = len(results)

# (b) Count non-missing observations
n_nonmiss = results["points"].count()

# (b) Get column names
list_names = results.columns.names

# (c) Unique values
list_ids   = pd.unique(results["constructorId"])

TypeError: can only concatenate list (not "str") to list

# <span style="color:darkblue"> II. Examples of Dataset Operations </span>

<font size = "5">

Full list of commands here:

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

<font size = "5">

```[] ```: Extracting columns

In [5]:
subset_cols = results[["constructorId","points","laps"]]

<font size = "5">

```.query() ```: Filtering a subset of rows

In [6]:
lower_value          = 20
subset_row_text      = races.query('name == "Australian Grand Prix"')
subset_row_ineq      = results.query('(points >= 20) & (points <= 30)')
subset_row_global    = results.query('(points >= @lower_value)')
subset_row_colspaces = results.query('(`points col` >= @lower_value)')

<font size = "5">

```.recode() ```: Replacing values

In [19]:
results   = results.replace(to_replace = ["UK","USA"],
                            value = ["United Kingdom","United States"])

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,points col
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,10.0
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,8.0
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,6.0
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,5.0
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11,0.0
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11,0.0
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9,0.0
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130,0.0
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47,0.0

<font size = "5">

```.groupby().agg() ```: Aggregate statistics by subgroup

In [8]:
results_agg = results.groupby("driverId").agg( median_points = ("points","median"))

<font size = "5">

```.rename() ```: Change name of columns

In [9]:
races_rename = races.rename(columns = {"name": "new_name"})