# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [16]:
print("LeeJune Yun")

LeeJune Yun

<font size = "5">

Import the "pandas" and "numpy" library

In [17]:
# Write your answer here:
# import pandas and numpy
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 13

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data/raw_results.csv" to <br>
 a new object "results"

In [18]:
# Write your own code
#import the dataset "data_raw/students.csv" to a new object called students
students = pd.read_csv("data_raw/students.csv")
#use pd.cut() to ass
intervals = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels = ['F', 'D', 'C-', 'C','C+', 'B-', 'B', 'B+', 'A-', 'A']

# use pd.cut to assign the letter grades
students['lettergrade'] = pd.cut(students['numericgrade'], bins=intervals, labels=labels)

# print the first few rows of the students dataframe
print(students.head())

   studentid  numericgrade lettergrade
0          1            61          C-
1          2             0         NaN
2          3            14           F
3          4            57           D
4          5            72          C+

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "milliseconds" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 13 and 14 for how to interpret the codebook

In [19]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

# Load the dataset into a dataframe
results = pd.read_csv("data_raw/results.csv")

results.dtypes

# No the type of the "milliseconds" column is an object when checked using the dtypes function, but the 
# type of "miliseconds" in the codebook is an int(11)

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so, go to Lecture 13 and follow the setups under the headings
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"

HINT: substitute "milliseconds" instead of "alt", <br>
and the dataset "results" instead of "circuits"

In [20]:
# Write your own code here
# Import the dataset
results = pd.read_csv("data_raw/results.csv")

# Extract list of non-numeric values
subset = results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset["milliseconds"])
print(list_unique)

# Replace certain values
list_old = list_unique
list_new = [np.nan] * len(list_old)

results["milliseconds"] = results["milliseconds"].replace(list_old, list_new)

# Convert column to numeric
results["milliseconds_numeric"] = pd.to_numeric(results["milliseconds"])
print(results["milliseconds_numeric"].mean())

['\\N']
6231870.430788768

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

HINT: See Lecture 14 <br>

In [21]:
# Write your own code

results_agg = (results.groupby("constructorId")
                      .agg(mean_laps = ('laps', 'mean'),
                           sd_laps = ('laps', 'std'))
                      .sort_values('mean_laps', ascending=False))

print(results_agg)

                mean_laps    sd_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 200'
- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"

Hint: See Lecture 11 (to refresh ".query()") and <br>
Lecture 14 for how to combine it with ".groupby()"

In [22]:
# Write your own code

results_agg = results.query('raceId >= 200').groupby('constructorId')['laps'].agg(['mean', 'std'])

results_agg

                    mean        std
constructorId
1              50.093510  23.147774
3              51.349621  21.064902
4              46.396450  22.565290
5              51.787879  18.281774
6              50.305798  25.953854
...                  ...        ...
209            52.282051  19.522147
210            51.434028  19.915741
211            54.684211  17.680279
213            52.393443  19.883361
214            54.204545  17.951505

[201 rows x 2 columns]